/* Give your page a fun background color */

body {
    background-color: rgb(37, 59, 81);
    margin: auto;
}

/* Make the header and footer a different color from the background */
header {
    background-color: rgb(27, 39, 53);
    color: rgb(103, 151, 202);
    padding: 1px 2px;
    
}
footer {
    background-color: rgb(27, 39, 53);
    max-width: fit-content; 
    padding: 1px 3px;
    margin-left: auto;
    margin-right: auto;
}
/* Align the h1 containing your name in the center of the header*/
h1 {
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* Make your p tag a different color and italic */
p {
    color: rgb(103, 151, 202);
    font-style: italic;
    margin-left: auto;
    margin-right: auto;
}

/* Put a border around your image */
img {
    border: 2px solid black;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Change the font-family of your list */
ul {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: large;
    color: rgb(103, 151, 202);
    display: table;
    margin: 0 auto;
}